[Desktop Entry]
GenericName=HTML Application
Name=DeforaOS HTMLApp
Comment=Simple container for HTML applications
TryExec=htmlapp
Exec=htmlapp
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;GTK;
NoDisplay=true
StartupNotify=true
MimeType=application/xhtml+xml;text/html
