[Desktop Entry]
GenericName=Help browser
Name=DeforaOS Helper
Comment=Help for applications, manual pages and programming interfaces (API)
TryExec=helper
Exec=helper
Icon=help-browser
Type=Application
Categories=Documentation;Core;GTK;
StartupNotify=true
