[Desktop Entry]
Name=Web surfer
Comment=Navigator to surf web pages
Exec=surfer -- %U
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;GTK;
StartupNotify=true
